@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {

    --h2-color: rgb(54, 16, 16);
    --primary-color: rgb(255,228,196);
    --h3-color: rgb(80 77 77);
    --h4-color: rgb(80, 76, 76);
    --p-color: black;
    --a-color: black;
    --ligth-contrast-color: white;
   
}
body {
    margin: 10px 20px;
    font-family: 'Questrial',Arial, Helvetica, sans-serif;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto, 1264px);
    justify-content: space-around;
    margin: 0;

}
.header-main {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    width: 100%;
}

.header-title a {
    text-decoration: none;
    font-size: 35px;
    color: var(--a-color);
    font-weight: bold;
}
.nav {
    width: 600px;
    display: flex;    
}

.nav-menu ul {
    display: flex;
    margin-left: 500px;
}
.nav-menu ul li {
    list-style: none;
    margin-right: 10px;
}
.nav-menu a {
    padding-left: 10px;
    text-decoration: none;
    font-size: 16px;
    color: var(--a-color);
}
.header-main button {
    height: 50px;
    width: 120px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(241, 121, 41);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.header-main button a {
    text-decoration: none;
    font-size: 15px;
    color: #160000;
}
.header-main button:hover {
    height: 51px;
    box-shadow: 2px 2px var(--h4-color);
    font-size: 16px;
    color: var(--ligth-contrast-color);
    
}
.header-main button:hover a {
    font-size: 16px;
    color: var(--ligth-contrast-color);
}


.main-section {
    margin-top: 20px;
    width: 100%;
    height: 560px;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 30% 100px 100px 40%;
    grid-template-rows: 53% 100px 80px 80px;
    grid-template-areas:    "title title . image1"
                            "subtitle subtitle . image1"
                            "button1 button2 . image1"
                            ". . button3 image1";
    justify-content: space-around
    }

.main-title {
    grid-area: title;
    font-size: 55px;
    color: var(--h2-color);
    height: 500;
    display: flex;
    align-items: center;
    
}

.main-subtitle {
    grid-area: subtitle;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.button1{
    grid-area: button1;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}
.button2{
    grid-area: button2;
    justify-self: start;
    align-self: center;
    cursor: pointer;
}
.button3{
    grid-area: button3;
    cursor: pointer;
}
.button1  img{
    width: 150px;
}
.button2  img{
    width: 120px;
}
.button3 img{
    width: 80px;
}

.main-imagen1 {
    grid-area: image1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-imagen1 img {
    width: 75%;
       
}

.community-section {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.main-container-community img {
    max-width: 1264px;
    }
.container-community, .container-connected, .container-popular, .pricing-title, h3 {
    font-size: 15px;
    color: var(--h3-color);
    font-weight: bold;
}
.container-community, .container-connected, .container-popular, .pricing-title, h2 {
    font-size: 40px;
    color: var(--h2-color);
    
}
.community-photos {
    background-image: url('https://www.adippsa.com/Images/travellers/image2.png');
    max-width: 1264px;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr repeat(8,120px) 1fr;
    grid-template-rows: repeat(5,120px);
    grid-template-areas: ". . . . . . . photo2 . ."
                        ". . photo1 . . . photo3 . . ."
                        ". . . . . photo4 . . . ."
                        ". . . photo5 . . . . . ."
                        ". . . . . . . . photo6 . "
    ;
}

.photo {
    height: 80px; 
    border-radius: 500px;
    border-image: 1px solid rgba(0, 0, 0, .8);
    line-height: 5px;
    cursor: pointer;

}
h5 {
    margin: 3px;
    font-size: 14px;
    color: var(--ligth-contrast-color);
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    
}
h6 {
    margin: 0;
    background-color: var(--primary-color);
    opacity: .9;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.photo1  {
    grid-area: photo1;
    align-self: flex-end;
    
    
}
.photo2  {
    grid-area: photo2;
    justify-self: start;
    align-self: flex-end;
    
    }
.photo3  {
    grid-area: photo3;
    
    }
.photo4  {
     grid-area: photo4;
   
    }
.photo5 {
    grid-area: photo5;
    
    }
.photo6 {
    grid-area: photo6;
    }


.connected-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen2 container3"
}

.connected-opinion-section {
    grid-area: imagen2;
    background-image: url("https://www.adippsa.com/Images/travellers/image3.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 30% 40%;
    grid-template-rows: 78% 22%;
    grid-template-areas: ". ."
                        "imglucy opinion";
}
.connected-opinion-img {
    grid-area: imglucy;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; */
}
.connected-opinion-img img {
    max-height: 50px;
    border-radius: 200px;
}
.connected-opinion{
    grid-area: opinion;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 15px;
    border-radius: 10px;
}
.opinion {
    font-size: 14px;
    color: var(--h3-color);
    margin-top: 2px;
}

.opinion-name {
    font-size: 14px;
    color: var(--h3-color);
    text-align: end;
}


.main-container-connected {
    grid-area: container3;
    margin-left: 100px;
}
.container-connect-sign, .container-connect-event, .container-connect-memorie {
    display: grid;
    grid-template-columns: 20px 60%;
    cursor: pointer;
}
.main-container-connected h4, .main-container-connected p {
    padding-left: 60px;
}


.popular-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container4 imagen3";
}
.main-container-popular {
    grid-area: container4;
    justify-content: end;
    padding-right: 200px;
}

.main-container-img3 {
    grid-area: imagen3;
    
}
.main-container-img3 img {
    width: 100%;

}

.pricing-section{
    margin-top: 100px;
}
.pricing-title {
    text-align: center;
}
.pricing-plans {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-areas:    ". title ."
                            "plan1 plan2 plan3";
    background-color: var(--primary-color);
    border-radius: 15px;
    justify-content: space-evenly;
    padding: 15px 50px;
}
.pricing-plans a{
    text-decoration: none;
}
.plans-title {
    display: grid;
    grid-template-columns: 100px 1px repeat(2,100px);
    
}
.toggle-button {
    align-self: center;
    justify-self: center;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
    position: relative;
    margin-bottom: 30px;
    
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: rgb(241, 121, 41);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 65px;
}


.plans-title{
    grid-area: title;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-self: center;
}
.plans-title p {
    padding-top: 6px;
}
.plans-plan1  {
    grid-area: plan1;
    padding: 10px 20px 20px 20px;
    background-color: var(--ligth-contrast-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 250px 200px 50px;
}
.plans-plan2 {
    grid-area: plan2;
    padding: 10px 20px 20px 20px;
    background-color: var(--ligth-contrast-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 250px 200px 50px;
}
.plans-plan3 {
    grid-area: plan3;
    padding: 10px 20px 20px 20px;
    background-color: var(--ligth-contrast-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 250px 200px 50px;
}
.plan-type {
    font-size: 20px;
}
.button-get {
    border: orangered solid 1px;
    color: black;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    
}
.download-section {
    grid-area: container6;
    background-image: url("https://www.adippsa.com/Images/travellers/image18.png");
    background-repeat: repeat;
    background-color: rgb(241, 121, 41);
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px 0 30px 0;
}
.download-section h2 {
    text-align: center;
    font-size: 30px;
    color: var(--ligth-contrast-color);
}
.download-section p {
    text-align: center;
    font-size: 15px;
    color: var(--ligth-contrast-color);
}
.download-buttons{
    display: grid;
    justify-content: center;
}
.download-buttons .button1 {
    width: 150px;
    margin-right: 200px;
}
.download-buttons .button2 {
    width: 120px;
    margin-left: 200px;
}
.footer-map {
    grid-area: container7;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    margin: 20px 100px 10px 100px;
    justify-content: space-between;
}

.footer-map li{
    list-style-type: none;
}
.footer-map h4{
    padding-left: 40px;
}
.subscribe-input {
    display: flex;
    flex-wrap: wrap;
    
}

.subscribe-input-container a {
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(255, 127, 80);
    font-size: 17px;
    color: var(--ligth-contrast-color);
    font-weight: 500;
    

}
.subscribe-input-container input {
    border: 1px solid gray;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    font-size: 10px;
    color: var(--h3-color);
    
}
.raiting-form{
width: max-content;
margin-right: 60px;
}

.checked {
    color: orange;
}
.div-raiting {
padding: 10px;
}
.raiting {
    font-size: 10px;
    color: black;
}
.footer-bar {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    border-top: lightgray solid 1px;
    padding-top: 15px;
}
.footer-title {
    display: flex;
    align-self: center;
}
.footer-title a {
    text-decoration: none;
    font-size: 35px;
    color: black;
    font-weight: bold;
    
}
.footer-menu {
    align-self: center;
    justify-self: center;
}
.footer-menu a {
    /* padding-left: 10px; */
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding-right: 20px;
}
.social-icons {
    display: flex;
    justify-content: space-evenly;
    

}
.icons {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    
}
.social-icons a {
    /* padding-left: 10px; */
    text-decoration: none;
    font-size: 35px;
    color: black;
    justify-content: center;
    margin-right: 20px;
}
.social-link-text {
    font-size: 10px;
    justify-content: center;
    padding-left: 8px;
    
}